body {
    background-color: Gainsboro; 
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: White;
    border-radius: 8px;
    box-shadow: 0px 4px 10px DimGray;
    border-top: 6px solid MidnightBlue;
}

h1 {
    color: MidnightBlue;
    text-align: center;
    margin-top: 0px;
}

p {
    text-align: center;
    color: DimGray;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid Silver;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus,
select:focus {
    outline: none;
    border-color: DarkGoldenRod;
}

fieldset {
    border: 1px solid Silver;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}

fieldset legend {
    font-weight: bold;
    color: MidnightBlue;
}

fieldset label {
    font-weight: normal; 
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: MidnightBlue;
    color: White;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: gold;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: MidnightBlue;
    font-weight: bold;
}
