/* Google Font Newsreader */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* color pattle */
:root {
    --text-white: #ffffff;
    --text-light-gray: rgba(255, 255, 255, 0.7);
    --text-dark: #222323;
    --primary: #f0f2f5;
    --secondary: #1a2b4d;
    --teriaty: #333333;
    --accent: #c19b6e;
}

/* General Style*/
body {
    font-family: 'Newsreader',sans-serif;
    font-size: large;
    margin: 0;
    background-color: var(--primary);
    height: 100%;
    margin: 0;
    flex-direction: column;
    display: flex;
}
html {
    height: 100%;
    margin: 0;
}

main {
    flex-grow: 1;
}
/* HEADER START */

/* Top line */
#topline {
    background-color: var(--accent);
    height: 8px;
    width: 100%;
}

/* Logo Styling */
#logo {
    height: 60px; /* Standard height for desktop */
    width: auto;
    border-radius: 0.375rem;
}
@media (max-width: 991.98px) {
    #logo {
        height: 40px;
    }
}

/* navbar background */
.Background {
    background-color: var(--secondary);
}

/* link style */
.nav-link {
    color: var(--text-white);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease; /* background transition */
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-link:hover,
.nav-link:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-white);
}

/* Search Style */
/* .search-box {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    width: 250px;
    max-width: 100%;
}

.search-input {
    border: none;
    background-color: transparent;
    color: var(--text-white);
    padding: 0;
    outline: none;
    flex-grow: 1;
}

.search-input::placeholder {
    color: var(--text-light-gray);
}

.search-icon {
    color: var(--text-white);
    margin-left: 0.5rem;
    cursor: pointer;
} */
/* HEADER END */

/* FOOTER START */

.footer{
    background-color: var(--secondary);
    color: var(--text-white);
    flex-shrink: 0;
}
/* FOOTER END */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}